

#root {
  background: black;
  color: white;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

head {
  background: black;
  color: white;
  flex: 1;
  padding: 30px 0 60px;
  position: relative;
}

main {
  background: black;
  color: white;
  flex: 1;
  padding: 30px 0 60px;
  position: relative;
}

body {
  background: black;
  color: white;
}
